absl-py
asttokens
attrs
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
decorator
exceptiongroup
executing
fastdtw
filelock
Flask
flatbuffers
fonttools
fsspec
google-auth
google-auth-oauthlib
greenlet
grpcio
idna
ipython
itsdangerous
jedi
kiwisolver
line-profiler
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
memory-profiler
mpmath
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python
packaging
pandas
paramiko
parso
Pillow
playsound==1.2.2
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
PyNaCl
pyparsing
python-dateutil
python-dotenv
PyYAML
requests
requests-oauthlib
rsa
scipy
seaborn
six
sounddevice
SQLAlchemy
sshtunnel
stack-data
sympy
tensorboard
tensorboard-data-server
thop
torch
torchvision
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug